<div class="w3-container">
  <div class="w3-panel w3-card-2 w3-round-large w3-metro-darken w3-padding">
    <div class="w3-center w3-third w3-padding w3-metro-darken">
      <img
        src="{{ userData.avatar_url }}"
        height="80%"
        width="80%"
        alt="profile"
        style="border-radius: 50% !important; max-width: 250px !important"
      />
      <br>
      <button
        mat-raised-button
        class="w3-margin-top"
        color="primary"
        (click)="open()"
        *ngIf="loggedIn === user"
      >
        Edit details
      </button>
    </div>
    <div
      class="w3-container w3-left w3-twothird w3-round w3-padding w3-win8-magenta"
      style="box-shadow: inset 0 0 30px #311b0b; min-height: 250% !important;"
    >
      <h1 class="w3-title">{{ userData.name }}</h1>
      <a class="w3-text-white w3-hover-shadow" href="{{ userData.html_url }}"
        ><small>{{ userData.login }}</small></a
      >
      <p>{{ userData.bio }}</p>
      <br>
      <div class="spacer"></div>
      <p>
        <a
          *ngIf="allData.github"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          href="{{ userData.html_url }}"
          ><img src="./assets/portfolio/github.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.linkedin"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          href="{{ allData.linkedin }}"
          ><img src="./assets/social/linkedin.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.behance"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/behance.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.dribble"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/dribble.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.gmail"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          [href]="'mailto:' + allData.gmail"
          ><img src="./assets/social/gmail.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          href="{{ allData.facebook }}"
          ><img src="./assets/social/facebook.png" width="30" alt="github"
        /></a>
        <a
          *ngIf="allData.twitter"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          href="{{ allData.twitter }}"
          ><img src="./assets/social/twitter.png" width="30" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/social/reddit.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/codepen.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/social/pinterest.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/social/slack.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/social/quora.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/codechef.png" width="20" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/codeforces.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/hackerrank.png" width="30" alt="github"
        /></a>
        <a
          *ngIf="allData.leetcode"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/leetcode.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/spotify.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/portfolio/kaggle.png" width="25" alt="github"
        /></a>
        <a
          *ngIf="allData.Facebook"
          class="w3-hover-shadow"
          style="margin-right: 10px !important"
          ><img src="./assets/social/stackoverflow.png" width="25" alt="github"
        /></a>
      </p>
      <!-- <p>basic details like location, ph no, email etc</p> -->
      <a href="{{'https://www.google.com/maps/place/'+allData.location}}"  class="w3-small w3-hover-shadow w3-text-white"
        ><i class="fa fa-map-marker" aria-hidden="true"
          >&nbsp;{{ allData.location }}</i
        ></a
      >
      &nbsp;
      <a href="{{'https://www.google.com/search?q='+allData.work}}" class="w3-small w3-text-white w3-hover-shadow"
        ><i class="fa fa-building" aria-hidden="true"
          >&nbsp;{{ allData.work }}</i
        ></a
      >
      &nbsp;
      <a href="{{allData.website}}"class="w3-small w3-text-white w3-hover-shadow"
        ><i class="fa fa-link" aria-hidden="true"
          >&nbsp;{{ allData.website }}</i
        ></a
      >
      &nbsp;
      <span class="w3-small"
        ><i class="fa fa-phone" aria-hidden="true"
          >&nbsp;{{ allData.phone }}</i
        ></span
      >
    </div>
  </div>
  <hr>
  <mat-accordion class="w3-container">
    <mat-expansion-panel color="primary"
      (opened)="projectOpenState = true"
      (closed)="projectOpenState = false"
      class="w3-container w3-large w3-metro-darken"
      [expanded]="true"
    >
      <mat-expansion-panel-header
        style="height: 100px"
        class="w3-container w3-large w3-metro-darken"
      >
        <mat-panel-title class="w3-center w3-margin-top w3-metro-darken w3-text-white">
          <h1 class="w3-container w3-margin-top w3-metro-darken w3-text-white">
            <p class="w3-left">Projects</p>
            <!-- <p class="w3-right w3-small">
                        <button *ngIf="!guest" mat-raised-button class="w3-btn " (click)="openAdd()">
                            <mat-icon>add</mat-icon>add
                        </button>
                    </p> -->
          </h1>
        </mat-panel-title>
        <mat-panel-description
          class="w3-container w3-right w3-metro-darken w3-text-white"
          style="justify-content: end"
        >
          <button color="primary" *ngIf="loggedIn === user" mat-raised-button (click)="openAdd()">
            <mat-icon>add</mat-icon>add
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <hr />
      <mat-list class="w3-padding">
        <mat-list-item
          class="w3-round w3-margin-bottom w3-text-white"
          style="height: 100%"
          *ngFor="let project of projects"
        >
          <!-- <img
            matListItemAvatar
            [src]="generateIcon(project.title.charAt(0))"
          /> -->
          <div
            matListItemAvatar
            class="avatar"
            [ngStyle]="{ 'background-color': generateRandomColor() }"
          >
            {{ project.title.charAt(0).toUpperCase() }}
          </div>
          <span matListItemTitle
            ><a class="w3-text-white" href="{{project.url}}"
              >{{ project.title }}&nbsp;<i
                class="w3-tiny w3-text-white fa fa-external-link"
                aria-hidden="true"
              ></i></a
          ></span>
          <!-- <div  class="w3-text-white w3-tiny w3-row">
            <button
            *ngIf="loggedIn === user"
              type="button"
              class="w3-right  w3-small"
              (click)="deleteProject(project)"
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon class="w3-medium">delete</mat-icon>
            </button>
          </div> -->
          <p matListItemLine class="w3-container w3-margin-top w3-text-gray">
            {{project.desc}}
              <button
              *ngIf="loggedIn === user"
                type="button"
                class="w3-right w3-small"
                (click)="deleteProject(project)"
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon">
                <mat-icon class="w3-medium">delete</mat-icon>
              </button>
          </p>
          <mat-chip-listbox matListItemLine class="w3-tiny w3-text-white" aria-label="Stack">
            <mat-chip class="w3-text-white" [ngStyle]="{ 'background-color': generatePastelColor(), 'color': 'white' }" *ngFor="let chip of project.stack">{{ chip }}</mat-chip>
          </mat-chip-listbox>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    </mat-accordion>
    <hr />
    <mat-accordion class="w3-container">
    <mat-expansion-panel 
      (opened)="githubOpenState = true"
      (closed)="githubOpenState = false"
      class="w3-container w3-large w3-metro-darken w3-text-amber"
      [expanded]="true"
    >
      <mat-expansion-panel-header
        style="height: 100px"
        class="w3-container w3-large w3-metro-darken"
      >
        <mat-panel-title class="w3-center w3-margin-top w3-metro-darken">
          <h1 class="w3-container w3-margin-top w3-metro-darken">
            <p class="w3-left">Github Repositories</p>
          </h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <hr />
      <mat-list class="w3-padding">
        <mat-list-item
          class="w3-round-xlarge w3-border-0 w3-margin-bottom"
          *ngFor="let repo of repos"
        >
          <img matListItemAvatar src="{{ userData.avatar_url }}" />
          <span matListItemTitle
            ><a class="w3-text-white" href="{{ repo.html_url }}"
              >{{ repo.name }}&nbsp;<i
                class="w3-tiny w3-text-white fa fa-external-link"
                aria-hidden="true"
              ></i></a
          ></span>
          <div matListItemMeta class="w3-text-gray w3-tiny w3-row">
            <p class="w3-left w3-margin">
              updated at <br />{{ repo.updated_at.slice(0, 10) }}
            </p>
          </div>
          <p matListItemLine class="w3-text-gray">{{ repo.description }}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
