<p>home works!</p>
<ngb-carousel
	*ngIf="images"
	[showNavigationArrows]=true
	[showNavigationIndicators]=true
>
	<ng-template ngbSlide *ngFor="let image of images">
		<div class="picsum-img-wrapper">
			<img [src]="image" height="400" width="100%"/>
		</div>
	</ng-template>
</ngb-carousel>
<h3>
    Publish your links all in one place
</h3>
<div class="w3-center">
    <button (click)="loginWithGithub()">Sign in with GitHub</button>
    <button mat-raised-button class="w3-margin" color="primary" [routerLink]="['/profile', 'soup-stix']">my profile</button>
    <button mat-raised-button class="w3-margin" color="primary" (click)="open()">add new developer profile</button>
</div>
